body {
    background-color: rgb(255, 255, 255);
}
nav{
    background-color: darkcyan;
}
#slider{
    background-color: rgb(0, 255, 255);
    color:#00FFFF;
    width: 40%;
    margin-left: 30%;
}
circle {

    fill-opacity: .25;
    stroke: rgb(15, 5, 255);
    stroke-width: 2px;
}

.leaf circle {
    fill-opacity: 1;
}

text {
    font: 10px sans-serif;
    text-anchor: middle;
    cursor: pointer; cursor: hand
}

.legend {
    font-size: 12px;
    font-weight: bold;
    text-anchor: middle;
}

.line {
    fill:none;
}
.country-name {
    margin: 0 !important;
}

.key-dot {
    display: inline-block;
    height: 10px;
    margin-right: .5em;
    width: 10px;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.legend {
    margin-right:20px;
}

.big { background: #b43122;
    margin-left: 48%;
}
.small { background: #1F77B4;
    margin-left: 48%;
}

.meduim { background: #ff4009;
    margin-left: 48%;
}

.accueil{
    margin-left: 90%;
}
#Xaxis,#Yaxis {

}
#graph,#number_graph{
    visibility: hidden;
}